<div id="formWrapper">
    <!--    form data -->
    <div class="card" style="margin: 1%;">
        <div class="card-header text-info" style="text-align: center;" >
            <strong>{{month.month_name}} {{month.year}}</strong>
        </div>
        <div class="card-body">
            <form id ="formData" class="was-validated " method="POST" action="/edit" >

                <div class="form-group">
                    <input type="hidden" class="form-control" name="month_name" value="{{{month.month_name}}}">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="year" value="{{{month.year}}}">
                </div>
                <div class="form-group">
                    <label class="text-info" style="color: #1c7430" for="formGroupExampleInput">Income Claudiu</label>
                    <input type="number" value="{{{month.income_claudiu}}}" class="form-control" name="income_claudiu" placeholder="Enter income" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Income Frumy</label>
                    <input type="number" value="{{{month.income_frumy}}}" class="form-control" name="income_frumy" placeholder="Enter income" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Home Credit</label>
                    <input type="number" value="{{{month.outcome_casa}}}" class="form-control" name="outcome_casa" placeholder="Enter outcome" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Car Credit</label>
                    <input type="number" value="{{{month.outcome_masina}}}" class="form-control" name="outcome_masina" placeholder="Enter outcome" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Frumy's Credit</label>
                    <input type="number" value="{{{month.outcome_avans}}}" class="form-control" name="outcome_avans" placeholder="Enter outcome" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Engie</label>
                    <input type="number" value="{{{month.outcome_engie}}}" class="form-control" name="outcome_engie" placeholder="Enter outcome" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Enel</label>
                    <input type="number" value="{{{month.outcome_enel}}}" class="form-control" name="outcome_enel" placeholder="Enter outcome" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Digi</label>
                    <input type="number" value="{{{month.outcome_digi}}}" class="form-control" name="outcome_digi" placeholder="Enter outcome" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Block maintenance </label>
                    <input type="number" value="{{{month.outcome_intretinere}}}" class="form-control" name="outcome_intretinere" placeholder="Enter outcome" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Subscriptions</label>
                    <input type="number" value="{{{month.outcome_abonamente}}}" class="form-control" name="outcome_abonamente" placeholder="Enter outcome" required>
                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Holiday</label>
                    <input type="number" value="{{{month.outcome_vacanta}}}" class="form-control" name="outcome_vacanta" placeholder="Enter outcome" required>
                </div>
                {{#each month.outcome_extra}}
                    <div class="form-group" id ="{{@key}}{{this}}">
                        <label class="text-info" for="extraInput">{{@key}}</label>
                        <div class="input-group">
                            <input type="number" id="extraInput" class="form-control" value ="{{this}}" name="extra_{{@key}}">
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="button" onclick="removeExtra({{@key}}{{this}})">Remove</button>
                            </div>
                        </div>
                    </div>
                {{/each}}

                <button type="button" class="btn btn-info btn-lg btn-block" id="addExtraButton" data-toggle="modal" data-target="#addExtraModal">Add Extra</button>
                <button type="submit" class="btn btn-primary btn-lg btn-block" >Submit</button>

            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addExtraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add extra outcome</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Extra outcome details</label>
                    <input id="addExtraOutcomeDetails" type="text" class="form-control"  placeholder="Enter extra outcome details" required>

                </div>
                <div class="form-group">
                    <label class="text-info" for="formGroupExampleInput">Extra outcome details</label>
                    <input id="addExtraOutcomeValue" type="number" class="form-control"  placeholder="Enter extra outcome value" required>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id = "addExtra" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/outcomeController.js"></script>