
<div class="container">
    <header class="masthead bg-white text-white text-center" style="padding-top: 7em;padding-bottom: 2em;">
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <div class="row">
                    {{#each sensors.sensors}}
                    <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto">
                        <div class="card text-center text-primary">
                            <div class="card-header p-0">
                                <span><i class="{{this.icon}}"></i></span></br>
                            </div>
                            <div class="card-body">
                                <div class="m-0">
                                    <div class="container">
                                        <div class="GaugeMeter float-left" id="GaugeMeter_1"
                                            data-used="{{this.temp}}"
                                            data-min="0"
                                            data-total="40"
                                            data-text="{{this.temp}}&#8451"
                                            data-style="Arch"
                                            data-theme="Green-Gold-Red"
                                            data-label="Temperature"
                                            data-showvalue="10"

                                        ></div>
                                        <div class="GaugeMeter float-right" id="GaugeMeter_2"
                                            data-used="{{this.humidity}}"
                                            data-min="0"
                                            data-total="100"
                                            data-text='{{this.humidity}}&#8274'
                                            data-style="Arch"
                                            data-theme="Green-Gold-Red"
                                            data-label="Humidity"
                                        ></div>
                                    </div>
                                </div>
                            </div>
                            <div class="container p-2">
                                {{#each this.relays}}
                                    <div class="container ">
                                        <div class="custom-control custom-switch "">
                                            <input type="checkbox" class="custom-control-input " id="{{this.id}}" onclick="switchHandler(this)" {{#if this.status}}checked{{/if}}>
                                            <label class="custom-control-label" for="{{this.id}}"><span>{{this.name}}</span></label>
                                        </div>
                                    </div>   
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                    {{/each}}
                    // row
                </div>
            </div>
        </section>
    </header>
</div>

<script src="/js/GaugeMeter.js"></script>
<script>
    $(document).ready(function(){
        $(".GaugeMeter").gaugeMeter();
    });

    function switchHandler(elem) {

        blockControl(elem);

         $.ajax({
             method: "POST",
             url : "/control",
             data: {"relayId": elem.id, "status": elem.checked}
         }).done(function(){
             unblockControl(elem)
         })
    }
</script>


