
<div class="container">
    <header class="masthead bg-white text-white text-center" style="padding-top: 7em;padding-bottom: 2em;">
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <div class="row">
                    {{#each sensors}}
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto">
                            <div class="card text-center text-primary">
                                <div class="card-header p-0">
                                    <span><i class="{{this.icon}}"></i></span></br>
                                </div>
                                <div class="card-body">
                                    <div class="m-0">
                                        <div class="container">
                                            <div class="GaugeMeter float-left" id="GaugeMeter_1" data-used="{{this.temp}}"
                                                data-min="0" data-total="40" data-text="{{this.temp}}&#8451" data-style="Arch"
                                                data-theme="Green-Gold-Red" data-label="Temperature" data-showvalue="10"></div>
                                            <div class="GaugeMeter float-right" id="GaugeMeter_2" data-used="{{this.humidity}}"
                                                data-min="0" data-total="100" data-text='{{this.humidity}}&#8274' data-style="Arch"
                                                data-theme="Green-Gold-Red" data-label="Humidity"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container p-2">
                                    {{#each this.relays}}
                                    <div class="container ">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input " id="{{this.id}}"
                                                onclick="switchHandler(this)" {{#if this.status}}checked{{/if}} {{#if this.webhook}}
                                                value="{{this.webhook}}" {{else}} value="" {{/if}}>
                                            <label class="custom-control-label" for="{{this.id}}"><span>{{this.name}}</span></label>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto">
                        <div class="card text-center text-primary">
                            <div class="card-header p-0">
                                <span><i>Daily temperature</i>
                                </span></br>
                                <input type="text" class="histCalendar" id="dailyTempHist" value="11/05/2019" onclick="calendarHandler(this)"/>
                            </div>
                            <div class="card-body">
                                <div class="m-0">
                                    <div class="container">

                                    </div>
                                </div>
                            </div>
                            <div class="container p-2" style=" height:40vh; width:100%">
                                <canvas id="temperatureHistoryChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto">
                            <div class="card text-center text-primary">
                                <div class="card-header p-0">
                                    <span><i>Daily humidity</i></span></br>
                                    <input type="text" class="histCalendar" id="dailyHumHist" value="11/05/2019" onclick="calendarHandler(this)"/>
                                </div>
                                <div class="card-body">
                                    <div class="m-0">
                                        <div class="container">

                                        </div>
                                    </div>
                                </div>
                                <div class="container p-2" style=" height:40vh; width:100%">
                                    <canvas id="humidityHistoryChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>

<script src="/js/GaugeMeter.js"></script>
<script>
    $(document).ready(function(){
        $(".GaugeMeter").gaugeMeter();
    });
        let calendarId;
        function switchHandler(elem) {

            blockControl(elem);

            $.ajax({
                method: "POST",
                url: "/control",
                data: { "relayId": elem.id, "status": elem.checked, "switch": elem.value }
            }).done(function () {
                unblockControl(elem)
            })
        }

        function calendarHandler(elem) {
            calendarId = elem
        }

        $(function () {
            $('.histCalendar').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 2019,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }, function (start, end, label) {
                blockControl(calendarId); 

                let date = new Date(start._d)
                let filteredTime = `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`
                let chartHistory = {sensorLabels:[],tempData:[],humidityData:[],weatherTempData:[],weatherHumData:[]};
                $.ajax({
                    method: "GET",
                    url: `/api/temperature_monitor?date=${filteredTime}`,
                    success: (data) => {
                        for(let k in data.json) {
                            chartHistory[data.json[k].type+'History'] = JSON.parse(data.json[k].json_data)
                        }
                    }
                }).done(function (req,res) {
                    console.log(res)
                    for(let k in chartHistory) {
                        for(let z in )
                    } 
                    console.log(chartHistory)
                    unblockControl(calendarId)
                })
            });
        });
{{!-- DE CREAT MEDTODA DE POST CU PRELUARE OBIECT DIN DB SI UPDATE CHART --}}
</script>
<script src="/js/chart.js"></script>
<script>
    var ctxGraph = document.getElementById('temperatureHistoryChart');
    var monthlyChart = new Chart(ctxGraph, {
        type: 'bar',
        data: {
            labels: "{{tempHistory.sensorLabels}}".split(","),
            datasets: [{
                label: "Sensors",
                data: [{{tempHistory.tempData}}],
                backgroundColor:'rgba(255,226,0,0.19)',
                borderColor: 'rgb(255,238,0)',
                borderWidth: 1
            },
                {
                    label: "Weather",
                    data: [{{tempHistory.weatherTempData}}],
                    backgroundColor:'rgba(0,211,255,0.17)',
                    borderColor: 'rgba(0,211,255,0.78)',
                    borderWidth: 1
                }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    offset: true,
                    ticks: {
                        beginAtZero: true,
                        minRotation: 0,
                        maxRotation: 50,
                        mirror: false,
                        padding: 0,
                        reverse: false,
                        display: true,
                        autoSkip: false,
                        autoSkipPadding: 0,
                        labelOffset: 0
                    },
                    gridLines: {
                        display: false
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: false
                    }
                }]
            }
        }
    });

    var ctxGraph = document.getElementById('humidityHistoryChart');
    var monthlyChart = new Chart(ctxGraph, {
        type: 'bar',
        data: {
            labels: "{{tempHistory.sensorLabels}}".split(","),
            datasets: [{
                label: "Sensors",
                data: [{{tempHistory.humidityData}}],
                backgroundColor:'rgba(0,188,0,0.19)',
                borderColor: 'rgb(0,188,0)',
                borderWidth: 1
            },
                {
                    label: "Weather",
                    data: [{{tempHistory.weatherHumData}}],
                    backgroundColor:'rgba(0,211,255,0.17)',
                    borderColor: 'rgba(0,211,255,0.78)',
                    borderWidth: 1
                }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    offset: true,
                    ticks: {
                        beginAtZero: true,
                        minRotation: 0,
                        maxRotation: 50,
                        mirror: false,
                        padding: 0,
                        reverse: false,
                        display: true,
                        autoSkip: false,
                        autoSkipPadding: 0,
                        labelOffset: 0
                    },
                    gridLines: {
                        display: false
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: false
                    }
                }]
            }
        }
    });

    // options: {
    //     maintainAspectRatio: false,
    //             scales: {
    //         yAxes: [{
    //             offset: true,
    //             ticks: {
    //                 beginAtZero: true,
    //                 minRotation: 0,
    //                 maxRotation: 50,
    //                 mirror: false,
    //                 padding: 0,
    //                 reverse: false,
    //                 display: true,
    //                 autoSkip: false,
    //                 autoSkipPadding: 0,
    //                 labelOffset: 0
    //             },
    //             gridLines: {
    //                 display: false
    //             }
    //         }],
    //                 xAxes: [{
    //             gridLines: {
    //                 display: false
    //             }
    //         }]
    //     }
    // }
</script>

