
<header class="masthead bg-wallet container  align-items-center flex-column" style="padding-top: 7em;padding-bottom: 2em;">

            <!--    form data -->
            <div class="card" style="margin: 1%;">

                <div class="card-header text-info border-0" style="text-align: center;" >
                    <a href ="/wallet"><button class="btn btn-info float-left"><i class="far fa-arrow-alt-circle-left"></i></button></a>
                    <h6 class="float-right mt-2">{{month.month_name}} {{month.year}}</h6>
                </div>
                <div class="card-body text-center">
                    <form id ="formData" class="was-validated " method="POST" action="/wallet/edit" >

                        <div class="form-group">
                            <input type="hidden" class="form-control" name="month_name" value="{{{month.month}}}">
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="year" value="{{{month.year}}}">
                        </div>
                        <div class="form-group">
                            <label class="text-info" style="color: #1c7430" for="formGroupExampleInput">Income Claudiu</label>
                            <input type="number" value="{{{month.income}}}" class="form-control" name="income" placeholder="Enter income" required>
                        </div>
                
                        {{#each month.outcome_data}}
                            <div class="form-group" id ="{{@key}}{{this}}">
                                <label class="text-info" for="extraInput">{{@key}}</label>
                                <div class="input-group">
                                    <input type="number" id="extraInput" class="form-control" value ="{{this}}" name="extra_{{@key}}">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" type="button" onclick="removeExtra({{@key}}{{this}})">Remove</button>
                                    </div>
                                </div>
                            </div>
                        {{/each}}

                        <button type="button" class="btn btn-info btn-lg btn-block" id="addExtraButton" data-toggle="modal" data-target="#addExtraModal">Add Outcome</button>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" >Submit</button>

                    </form>
                </div>
            </div>
</header>